/* CSS reset */
* {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    color: #FFFFFF;
}

/* Landing page */
body {
    min-width: 320px;
}

.banner-card {
    background-image: url(../assets/banner.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.banner-text {
    position: absolute;
    bottom: 0;
    margin: 8rem 8rem;
}

.banner-text > p {
    font-size: calc(1rem + 1.5vw);
    color: rgb(173, 181, 189);
}

.cube-icon {
    position: absolute;
    top: 0;
    margin: 4rem 8rem;
}

h1 {
    font-size: calc(2.5rem + 2vw);
    font-weight: bold;
}

/* body styling */
h2 {
    font-size: 2.5rem;
}

.align-center {
    align-items: center;
}

.arrow-icon {
    height: 1rem;
    margin-left: 0.6rem;
}

.my-6 {
    margin-top: 14rem;
    margin-bottom: 14rem;
}

ol {
    list-style-type: decimal-leading-zero;
    padding-left: 3rem;
}

ol > li::marker {
    font-weight: bold;
    font-size: 1.6rem;
    color: rgb(173, 181, 189);
  }

  .dark-text {
    color: #101010;
  }

.col-lg-6 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.clients {
    padding: 8rem 0;
}

.client-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.client-name {
    font-weight: bold;
    background-color: #101010;
    padding: 1rem;
    margin-top: .1rem;
}

.quote > h2 {
    font-size: 3rem;
}

.quote > p {
    color:rgb(173, 181, 189);
    font-size: 2rem;
}

.contact h4 {
    color:rgb(173, 181, 189);
}

/* Footer styling */
.back-to-top {
    display: flex;
    width: 100%;
    height: 4rem;
    justify-content: center;
    align-items: center;
}

/* Adjust for mobile */
  @media screen and (max-width: 800px) {
    .banner-text {
        margin: 8rem 3rem;
    }

    .cube-icon {
        margin: 4rem 3rem;
    }
  } 

  @media screen and (max-width: 992px) {
    .my-6 {
        margin-top: 4rem;
        margin-bottom: 4rem;    
    }
  }